/*
Ao usar class, para identificar no CSS: ".nome_da_classe
Ao usar uma id (Não pode se repetir), para identifica no CSs: "#nome_da_id"
*/

:root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secundary: #04D361;
    --color-secundar-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;

    /* 16 px = 100% = [ 1rem (valor x valor do root)] , sendo a porcentagem e REM relativos ao root*/
    font-size: 60%;

}

html,body {
    height: 100vh;
}

body,input,button,textarea{
    font: 500 1.6rem Poppins;
    color: var(--color-text-base)
}

body {
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;    
}

#container {
    width: 90vw; /*Largura*/
    max-width: 700px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;



    /* 
    1 propriedade = todos os lados
    2 propriedades = altura e largura
    3 propriedades = cima,baixo e os lados respectivamente
    4 propriedades = cima, direita, baixo, esquerda respectivamente

    vw = viewport
    fonte= font: weight size family
    */
}
